fastapi
uvicorn
python-multipart
pandas
openpyxl
python-jose[cryptography]
passlib[bcrypt]
asyncpg
sqlalchemy
python-dotenv
cloudinary
razorpay
stripe
google-generativeai
openai
httpx
aiosmtplib
websockets
python-socketio
python-engineio
motor
pandas
openpyxl
pydantic[email]
cors
mistralai
agora-token-builder
aiogram
google-auth>=2.29.0
firebase-admin>=6.5.0
